html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

body {
    background: url(img/background.jpg) center center / cover no-repeat;
    background-attachment: fixed;
    line-height: 1.5;
}
